#main-panel{
    width: 99vw;
    height: 99vh;
    padding: 0.2%;
    margin: 0;
}
#main-panel-title{
    width: 100%;
    height: unset;
}
.main-panel-title-h1 {
    margin: 0;
}
#main-panel-body{
    width: 100%;
    height: 92%;
}
.truncate {
  width: 95vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}