#spinner {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 25vw;
    z-index: 1;
}
#spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25vw;
    height: 25vw;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 #000 transparent transparent;
    background-color: #fcc503;
  }
@keyframes spinner {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
#spinner2 {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    z-index: 9;
}
#spinner2 div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20vw;
    height: 20vw;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: spinner2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
    background-color: #fcc503;
  }
  @keyframes spinner2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }